.lf-menu {
  padding: 2px 0;
  border-radius: 5px;

  .lf-menu-item {
    padding: 5px 12px;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
  }

  .text-danger {
    color: var(--el-color-danger);
  }

  .menu-item-divider {
    border-top: 1px solid #f1f1f1;
  }
}
